  <div class="banner">
    <h1>Stupid Coaching</h1>
  </div>
  <div class=question> 
    <p><%= @my_question %></p>
    <p>-You</p>
  </div>
  <div class="answer">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>
  <%= link_to "Ask a new queston", ask_path %>
